.imageView {
  cursor: default;
  height: calc(100vh);
  overflow: hidden;
  overscroll-behavior: none;
  position: relative;
  touch-action: none;
  width: calc(100vw);
}

.canvas {
  display: block;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.positionIndicator {
  display: flex;
  flex-direction: column;
  gap: 4px;
  pointer-events: auto;
  position: fixed;
  right: var(--margin);
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 2;
}

.positionThumbnailButton {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  padding: 0;
  width: 40px;
}

.positionThumbnail {
  aspect-ratio: 1920 / 1080;
  display: block;
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.25s ease-in-out;
  width: 40px;
}

.positionThumbnailActive {
  opacity: 1;
}

.positionThumbnailMobile {
  aspect-ratio: 1080 / 1920;
}

.fallback {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15vh;
  height: 100%;
  inset: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.fallbackImage {
  aspect-ratio: 1920 / 1080;
  display: block;
  object-fit: cover;
  width: 80%;
}

@media screen and (max-width: 749px) {
  .fallbackImage {
    aspect-ratio: 1080 / 1920;
  }
}
