.entry,
.entryActive {
  color: #fff;
  opacity: var(--opacity);
  transition: opacity 0.45s ease-in-out;
}

.entryActive {
  opacity: 1;
}

.credits {
  column-count: 2;
  column-gap: var(--margin-page);
}

.credit {
  margin-bottom: 50px;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  display: inline-block;
  width: 100%;
}
.creditTitle {
  opacity: var(--opacity);
  margin-bottom: var(--margin-4);
}
