.scaleGallery {
  --media-height: 400px;
  --media-hover-height: calc(90vh - var(--margin) * 2);

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-content: start;
  align-items: start;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--margin);
  height: 100vh;
  padding-top: calc((100vh - var(--media-height)) / 2);
}

.media {
  aspect-ratio: 0.8;
  height: var(--media-height);
  background: transparent;
  transform-origin: center center;

  transition:
    width 0.3s,
    height 0.3s,
    margin-bottom 0.3s,
    transform 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-4);
}

.container:hover .media {
  height: var(--media-hover-height);
  /* height: 600px; */
  margin-bottom: calc((var(--media-height) - var(--media-hover-height)) / 2);
  transform: translateY(calc((var(--media-height) - var(--media-hover-height)) / 2));
}

.mobileScaleGallery {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  padding-top: 0;
}

.mobileContainer {
  width: 100%;
}

.mobileContainer .media {
  height: auto;
  width: 100%;
}

.mobileContainer:hover .media {
  height: auto;
  margin-bottom: 0;
  transform: none;
  width: 100%;
}

.mobileContainer .caption,
.mobileContainer .subcaption {
  max-width: 100%;
}

.caption {
  opacity: var(--opacity);
  max-width: calc(400px * 0.8);
}

.subcaption {
  opacity: var(--opacity);
  padding-top: 30px;
  max-width: calc(400px * 0.8);
}

.subcaption::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.8px;
  margin-top: 3px;
  background: currentColor;
  opacity: 0.3;
}
