.nextProjectContainer {
  /* height: var(--content-height); */
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  left: calc(var(--margin) * -1);
  bottom: calc(var(--margin) * -1);
  background-color: #fff;
  background-image: radial-gradient(circle, #ccc 1px, transparent 1px);
  background-size: 50px 50px;
  cursor: none;
  padding: var(--margin);
  color: #000;
}

.nextProjectHeader {
  font-size: 10vw;
  letter-spacing: -7px;
  opacity: 0.05 !important;
}

.nextProjectContainer:hover {
  opacity: 1 !important;
}

.footer {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
}

@media (max-width: 768px) {
  .nextProjectContainer {
    height: 100lvh;
    min-height: 100lvh;
    cursor: auto;
  }
}
