.description {
  color: var(--foreground);
}

.paragraph {
  margin: 0;
}

.paragraph + .paragraph {
  margin-top: 0.5em;
}

.word,
.wordActive {
  opacity: var(--opacity);
  transition: opacity 0.45s ease-in-out;
}

.wordActive {
  opacity: 1;
}
