.cursor {
  position: relative;
}

.title {
  display: inline-block;
  max-width: 60vw;
}

.preview {
  display: block;
  left: calc(var(--project-cursor-title-width, 100%) + var(--margin));
  position: absolute;
  top: 50%;
  width: 300px;
  aspect-ratio: 16 / 9;
  transform-origin: center;
}

.previewMedia {
  height: 100%;
  width: 100%;
}
