@font-face {
  font-family: NeueHaasGroteskDisplay;
  src: url("../../public/fonts/NeueHaasGrotDisp-75Bold-Trial.otf");
  font-weight: bold;
}

@font-face {
  font-family: NeueHaasGroteskText;
  src: url("../../public/fonts/NeueHaasGrotText-75Bold-Trial.otf");
  font-weight: bold;
}

@font-face {
  font-family: NeueHaasGroteskText;
  src: url("../../public/fonts/NeueHaasGrotText-76BoldItalic-Trial.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: NeueHaasGroteskText;
  src: url("../../public/fonts/NeueHaasGrotText-65Medium-Trial.otf");
  font-weight: medium;
}

@font-face {
  font-family: NeueHaasGroteskText;
  src: url("../../public/fonts/NeueHaasGrotText-66MediumItalic-Trial.otf");
  font-weight: medium;
  font-style: italic;
}

:root {
  --font-size-1: clamp(48px, 12vw, 160px);
  --line-height-1: 0.9;
  --letter-spacing-1: 0rem;
  --paragraph-spacing-1: 0rem;

  --font-size-2: 58px;
  --line-height-2: 0.9;
  --letter-spacing-2: -0.2rem;
  --paragraph-spacing-2: 0rem;

  --font-size-longcopy: 3.2rem;
  --line-height-longcopy: 3rem;
  --letter-spacing-longcopy: 0.01rem;
  --paragraph-spacing-longcopy: 0rem;

  --font-size-4: 1.75rem;
  --line-height-4: 1.75rem;
  --letter-spacing-4: -0.02rem;
  --paragraph-spacing-4: 0.75rem;

  --font-size-fineprint: 1.25rem;
  --line-height-fineprint: 1.35rem;
  --letter-spacing-fineprint: 0.01rem;
  --paragraph-spacing-fineprint: 0rem;

  --font-size-5: 0.8rem;
  --line-height-5: 0.8rem;
  --letter-spacing-5: 0.01rem;
  --paragraph-spacing-5: 0rem;

  --margin-4: 5px;
}

h1,
[typo="h1"] {
  font-family: NeueHaasGroteskDisplay, Arial, Helvetica, sans-serif;

  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}
h1 p,
[typo="h1"] p {
  margin-bottom: var(--paragraph-spacing-1);
}

h2,
[typo="h2"] {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;

  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
h2 p,
[typo="h2"] p {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;

  margin-bottom: var(--paragraph-spacing-1);
}

[typo="longcopy"],
[typo="longcopy"] p,
p[typo="longcopy"] {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;
  font-size: var(--font-size-longcopy);
  line-height: var(--line-height-longcopy);
  letter-spacing: var(--letter-spacing-longcopy);
}

[typo="fineprint"],
[typo="fineprint"] p {
  font-family: "NeueHaasGroteskText";
  font-weight: medium;
  font-size: var(--font-size-fineprint);
  line-height: var(--line-height-fineprint);
  letter-spacing: var(--letter-spacing-fineprint);

  max-width: 700px;
}

h4,
[typo="h4"] {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;

  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-4);
}
h4 p,
[typo="h4"] p {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;

  margin-bottom: var(--paragraph-spacing-4);
}

h5,
[typo="h5"] {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;

  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-5);
}
h5 p,
[typo="h5"] p {
  font-family: "NeueHaasGroteskText";
  font-weight: bold;

  margin-bottom: var(--paragraph-spacing-5);
}

@media screen and (max-width: 749px) {
  :root {
    --font-size-2: 38px;
    --line-height-2: 0.9;
    --letter-spacing-2: -0.2rem;
    --paragraph-spacing-2: 0rem;

    --font-size-longcopy: 1.9rem;
    --line-height-longcopy: 2rem;
    --letter-spacing-longcopy: 0.01rem;
    --paragraph-spacing-longcopy: 0rem;

    --font-size-4: 1.6rem;
    --line-height-4: 1.6rem;
    --letter-spacing-4: 0.01rem;
    --paragraph-spacing-4: 0rem;
  }
}
