.page {
  padding: var(--margin);
}

.viewToggle {
  align-items: center;
  background: var(--foreground);

  bottom: var(--margin);
  color: var(--background);
  display: flex;
  gap: 12px;
  left: 50%;
  opacity: var(--opacity);
  padding: 4px 8px;
  position: fixed;
  transform: translateX(-50%);
  transition: opacity 0.4s ease-in-out;
  z-index: 1001;

  backdrop-filter: blur(10px);
  border-radius: 25px;
}

.viewToggle:hover,
.viewToggle:focus-within {
  opacity: 1;
}

.viewToggleButton,
.viewToggleButtonActive {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  opacity: 0.45;
  padding: 0;
  text-transform: uppercase;
}

.viewToggleButtonActive {
  opacity: 1;
}
