.page {
  margin: var(--margin);

  overflow: hidden;

  background-color: var(--background);
  position: relative;
}

.main,
.page {
  height: calc(100vh - 2 * var(--margin));
  width: calc(100vw - 2 * var(--margin));
}

.filterMenu {
  position: absolute;
  top: var(--margin);
  right: var(--margin);
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}
