.page {
  margin: var(--margin);
  min-height: var(--content-height);
}

.thumbnail {
  height: auto !important;
  width: 20px !important;
}

.listEntry {
  display: block;
}

.listEntryButton {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
}

.lastUpdated {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: var(--opacity);
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
}

.content,
.footer {
  transition: opacity 0.3s ease-in-out;
}

.contentDimmed {
  opacity: 0.1;
}

.footer {
  position: absolute;

  bottom: 0;
  left: 0;
}
