.page {
  cursor: auto;
}

.coverCursorArea {
  cursor: none;
  height: 100vh !important;
  left: calc(-1 * var(--margin));
  position: relative;
  top: calc(-1 * var(--margin));
  width: 100vw !important;
}

.coverMedia {
  width: 100% !important;
  height: 100% !important;
}

:global(html[data-project-cursor-near-menu="true"]) .coverCursorArea {
  cursor: auto !important;
}

article.project {
  padding: var(--margin);
}

.meta {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  opacity: 0.55;
}
.meta p:last-child {
  display: flex;
  justify-content: flex-end;
}

.gallery {
  display: grid;
  gap: var(--margin);
}

.galleryRow {
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: var(--margin);
}

.mediaLink {
  text-decoration: underline;
}

.sectionTitle {
  opacity: var(--opacity);
  margin-bottom: var(--margin-4);
}

.description {
  /* padding: var(--margin); */
  font-size: 40px;
  line-height: 1;
}

/* .descriptionContainer {
  padding: var(--margin) 0;
} */
.descriptionContainer .subcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: var(--opacity);
  padding-top: 30px;
  width: 50%;
}

.descriptionContainer::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.8px;
  margin-top: 3px;
  background: currentColor;
  opacity: 0.1;
}

@media screen and (max-width: 749px) {
  .descriptionContainer .subcaption {
    width: 100%;
  }
  .descriptionContainer::after {
    width: 100%;
  }
}
